<!DOCTYPE html>
<html>
    <head>
        <title>Search Results</title>
    </head>
    <body>
        <h1>Politicians by Funding</h1>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">{{ industry_name }}</h1>
                {% for funding in fundings %}
                    <p><strong>{{ funding.cand_name }} : {{ funding.total }}</strong></p>
                {% endfor %}
            </div>
            <br>
            <div class="container">
                <h4>Total Republic Contributions: {{ sum_republican }}</h4>
                <br>
                <h4>Total Democratic Contributions: {{ sum_democratic }}</h4>
                <br>
                <h4>Total Third Party Contributions: {{ sum_third }}</h4>
            </div>
        </div>
    </body>
</html>